.auth-form {
    background: #c0392b;
    min-height: 100vh;
    padding: 30px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth-form h1,
.auth-form p {
    color: #fff;
}

.auth-input {
    margin: 20px 0px !important;
}
.auth-input.helper {
    margin: 20px 0px 10px 0px !important;
}

label.Mui-focused {
    font-weight: 800 !important;
}