.formControl {
    width: 100%;
    margin-bottom: 20px !important;
}


.largeInputs {
    font-size: 2.4rem !important;
    font-weight: bold;
}

.main {
    height: 100%;
}

.form {
    box-shadow: none;
    background-color: inherit;
}

.container {
    height: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}