@import './vars.scss';

.greet {
    font-size: 2rem;
}

.info {
    background-color: #f1c40f;
    padding: 20px;
    border-radius: 4px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    color: rgb(54, 54, 54);
    box-shadow: 0 2px 6px #f1c40fbf;
}

.warnMessage {
    flex-grow: 1;
}

.warnIcon {
    margin-right: 20px;
}

.balanceCard {
    margin: 30px 0;
    h1 {
        font-size: 2rem;
        font-weight: normal;
    }

    .types {
        display: flex;
        align-items: center;
        margin: 20px 0;
        flex-wrap: wrap;
        div {
            margin-right: 30px
        }
        h2 {
            font-size: 1rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}
